<ion-content>
  <div class="ion-padding">
    <h1>Sign Up</h1>
    <p>Sign up via email</p>
  </div>
  <ion-list>
    <form (ngSubmit)="handleSignUp()">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
        [(ngModel)]="email"
        name="email"
        inputmode="email"
        autocomplete="true"
        placeholder="yourmail@provider.com"
        type="string"
        >
        </ion-input>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          [(ngModel)]="password"
          name="password"
          autocomplete="true"
          placeholder="******"
          type="string"
        >
        </ion-input>
      </ion-item>
      <div class="ion-text-center">
        <ion-button type="submit" fill="clear">Confirm</ion-button>
      </div>
    </form>
  </ion-list>
</ion-content>
