<ion-header class="header" [translucent]="true">
	<ion-toolbar>
		<ion-title>ToDo</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
	<div id="container">
		<!-- TODO: hier die todos component laden -->
		<div *ngFor="let todo of todos" class="todo-container">
			<app-todo [todoDescription]="todo.name"></app-todo>
		</div>
	</div>
</ion-content>

<ion-footer class="footer" [translucent]="true">
	<ion-toolbar>
		<ion-button class="add-button" (click)="addTodo()">Add</ion-button>
	</ion-toolbar>
</ion-footer>
