<ion-header class="header" [translucent]="true">
	<ion-toolbar>
		<ion-title>ToDo</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
	<div id="container">
		<ion-list>
			<ion-reorder-group
				[disabled]="false"
				(ionItemReorder)="handleReorder($any($event))"
			>
				<div *ngFor="let todo of todos" class="todo-container">
					<ion-item>
						<app-todo [todoDescription]="todo.name"></app-todo>
						<ion-reorder slot="end"></ion-reorder>
					</ion-item>
				</div>
			</ion-reorder-group>
		</ion-list>
	</div>
</ion-content>

<ion-footer class="footer" [translucent]="true">
	<ion-toolbar>
		<!-- todo: hier muss ein Plus Icon rein -->
		<ion-button class="add-button" (click)="openAddTodoModal()"
			>Add</ion-button
		>
	</ion-toolbar>
</ion-footer>
