<ion-header class="header" [translucent]="true">
	<ion-toolbar color="light">
		<ion-title class="header-title">Dashboard</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
	<div class="content-task-container">
		<span class="content-task-header">Today tasks</span>
		<div *ngFor="let todo of todos" class="todo-container">
			<app-todo
				[id]="todo.id"
				[description]="todo.description"
			></app-todo>
		</div>
	</div>
</ion-content>

<ion-footer class="footer" [translucent]="true">
	<ion-toolbar class="footer-toolbar">
		<!-- todo: hier muss ein Plus Icon rein -->
		<div class="footer-button-container">
			<ion-button
				fill="solid"
				color="danger"
				class="footer-add-button"
				(click)="openAddTodoModal()"
				><ion-icon name="add-outline"></ion-icon
			></ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
